automations/job_scanner.json
{
  "name": "Job Scanner",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "bf536de6-e3cd-4a7f-a123-68f98f2d2718",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.adzuna.com/v1/api/jobs/us/search/1?app_id=04fd0e60&app_key=7095c632087cf7da104fdb4ed5bd5557&what=python+developer&results_per_page=50&content-type=application/json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "b5f16fb3-1b7f-40b9-af50-7c8da87e5ec4",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst postings = data.results || [];\n\nconst skillKeywords = [\n  'python', 'javascript', 'typescript', 'node.js', 'fastapi',\n  'postgresql', 'docker', 'kubernetes', 'aws', 'gcp',\n  'langchain', 'langgraph', 'n8n', 'rag', 'vector database',\n  'redis', 'graphql', 'rest api', 'github actions',\n  'openai', 'anthropic', 'llm', 'machine learning',\n  'react', 'django', 'flask', 'mongodb', 'kafka'\n];\n\nconst counts = {};\n\nfor (const job of postings) {\n  const description = (job.description || '').toLowerCase();\n  for (const skill of skillKeywords) {\n    if (description.includes(skill)) {\n      counts[skill] = (counts[skill] || 0) + 1;\n    }\n  }\n}\n\nreturn Object.entries(counts)\n  .filter(([_, count]) => count > 0)\n  .map(([skill, frequency]) => ({\n    json: {\n      skill_name: skill,\n      frequency,\n      source: 'adzuna',\n      role_matched: 'python developer',\n      captured_on: new Date().toISOString().split('T')[0],\n      reviewed: false\n    }\n  }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        -32
      ],
      "id": "115fbe48-e9c5-44ff-ae0f-243b68b69570",
      "name": "Code"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        832,
        0
      ],
      "id": "47b5276d-bb40-4fc0-abbd-50d6fe95d319",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "rHMSBBZEckfbkLGz",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const inserted = $input.all().length;\nreturn [{ json: { message: `Job scan complete. ${inserted} skills saved.` } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        0
      ],
      "id": "a8ca7710-0225-4585-aa0d-750866e66b2f",
      "name": "Code1"
    },
    {
      "parameters": {
        "jsCode": "// This will be replaced with PostgreSQL node once port 5432 is opened\nconst items = $input.all();\nconsole.log(`Would insert ${items.length} skills to market_signals`);\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        -32
      ],
      "id": "d9860346-0571-423e-ac22-1e9898cb4403",
      "name": "Code2"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7c32f88b-cba8-4116-bc0c-e6923447d1e8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9b5cbdfd91a8a604c027e894e6aa9a6726dd639f99f46e0edc89452cb28b796b"
  },
  "id": "0xEXTdxYMoGFYkXk",
  "tags": []
}